* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -1px;
  color: #fff;
}

h1 strong, h2 {
  color: #026fff;
}

h2 {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 40px;
}

.container {
  max-width: 1024px;
  /* width: 100%; */
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  flex: 1;

}

.burguer-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: none;
  line-height: 40px;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 99;
  color: #fff;
}

.header {
  background: #212930;
  color: #fff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-wrap: wrap;
}

.header--logo img {
  height: 50px;
}

.menu {
  height: inherit;
}

.menu ul {
  list-style: none;
  height: inherit;
  display: flex;
  align-items: center;
}

.menu ul li {
  height: inherit;
}

.menu a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.hero {
  height: 300px;
  background-color: #212930;
  /* background-image: url('../images/hero.jpg');
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}

.portfolio {
  background: #f3f3f3;
  padding: 20px;
}

.portfolio__project {
  border: 1px solid #777;
  border-radius: 10px;
  margin: 15px 0;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio__project strong {
  font-family: 'Fjalla One', sans-serif;
}

.portfolio__project--title {
  font-size: 30px;
  margin-bottom:  10px;
}

.portfolio__project--course, .portfolio__project--date, .portfolio__project--ulr  {
  margin: 10px 0;
}

.portfolio__project--description {
  font-size: 20px;
}

.portfolio__project div, .portfolio__project--image {
  width: 50%;
}

.portfolio__project--image img{
  max-width: 100%;
}

.event-title {
  margin-left: 10px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.events__container {
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-attachment: #f4f4f4;
}

.events__container--image img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.events__container--details {
  margin: 20px 40px;
  background: #fff;
  margin-top: -50px;
  position: relative;
  padding: 20px;
  text-align: center;
}

.events__container--title {
  text-align: center;
  margin-bottom: 20px;
}

.events__container--descrption {
  text-align: left;
  margin-bottom: 20px;
}

.events__container--link {
  color: #026fff;
  border: 1px solid;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background: #026fff;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}


.contact__form--title {
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.contact__form  input {
  border-color: grey;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background: url(../images/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  background-color: #fff;
}

.contact__form button {
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  background: transparent;
  color: #fff;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.social-link.tw {
  background: url(../images/twitter.svg);
  background-size: 50px 50px;
}

.social-link.fb {
  background: url(../images/facebook.svg);
  background-size: 50px 50px;
}

.social-link.gh {
  background: url(../images/github.svg);
  background-size: 50px 50px;
}

.social-link.in {
  background: url(../images/instagram.svg);
  background-size: 50px 50px;
}

.footer {
  background: #212930;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
}

.footer img {
  width: 80px;
  vertical-align: middle;
}


@media screen and (max-width:1024px){
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

  }
} 

@media screen and (max-width:767px){
  .burguer-button  {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header--logo {
    text-align: center;
  }
  .menu {
    position: fixed;
    background-color: rgba(2, 111, 255, .9);
    z-index: 98;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left: 0;
  }
  .menu ul {
    display: block;
  }
  .menu ul li {
    height: 50px;
  }
  .menu a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    margin-bottom: 3em;
  }

  
  .portfolio__project {
    display: block;
  }
  .portfolio__project div, .portfolio__project--image {
    width: auto;
  }
  .portfolio__project--image {
    text-align: center;
  }
  .portfolio__project--details {
    width: auto;
    font-size: 16px;
  }
  .portfolio__project--title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .portfolio__project--course {
    font-size: 0.8em;
  }
  .portfolio__project--date, .portfolio__project--ulr  {
    font-size: 1em;
  }
  .portfolio__project--course, .portfolio__project--date, .portfolio__project--ulr  {
    margin: .3em 0;
  }
  .portfolio__project--description {
    font-size: 1.1em;
  }
}

@media screen and (max-width:650px){
  .events__container {
    width: auto;
    flex-shrink: initial;
  }
  .events__container--image img {
    width: 100%;
  }
  .contact {
    height: auto;
    padding: 1em 0;
    display: block;
    text-align: center;
  }
  .contact__form button {
    margin: 1em auto 3em;
  }
}

@media screen and (max-width:480px){
  h1 {
    font-size: 1.5em;
  }
  .portfolio__project--details {
    width: auto;
    font-size: 12px;
  }
  .events__container--details {
    margin: -2em .5em .5em;
  }
  .social-link {
    width: 30px;
    height: 30px;
  }
  .social-link.tw, .social-link.fb, .social-link.gh, .social-link.in {
    background-size: 30px 30px;
  }
  .footer {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width:320px){
  
}